<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<SCRIPT language=javascript type=text/javascript
        src=".\image\mootools.js"></SCRIPT>

<SCRIPT language=javascript type=text/javascript
        src=".\image\mootoolsmore.js"></SCRIPT>

<SCRIPT language=javascript type=text/javascript
        src=".\image\flowplayer.min.js"></SCRIPT>

<SCRIPT language=javascript type=text/javascript
        src=".\image\bumpbox.js"></SCRIPT>

<SCRIPT language=javascript type=text/javascript
        src=".\image\bumpbox_wht.js"></SCRIPT>

<SCRIPT language=javascript type=text/javascript
        src=".\image\bumpbox_gry.js"></SCRIPT>

<SCRIPT
        src=".\image\image_tooltip.js"></SCRIPT>

<td width="28%" rowspan="2" align="right" valign="top">
    <a class="bumpbox" rel="1015-590" href="http://www.haascnc.com/videos/ST_Series.asp">
        <img border="0" src=".\image\ST_Series.gif"></a>
</td>
</body>
</html>